.task-content {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
}

.card-task {
  width: 90%;
  height: 38px;
  padding: 16px;
  display: flex;
  justify-content: flex-start;
}

.text-task-title {
  font-size: 14px;
  text-transform: none;
  text-align: left;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
