.card-user-info {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  max-width: 500px;
  width: 95%;
  padding: 10px 10px;
  margin-bottom: 10px;
}

.user-info-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100%;
}

.txt-display-name {
  margin-left: 18px;
}
